.we-section{
  min-height: 100vh;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  color: white;
}

.we-section .sb-title {
  font-size: 2rem;
  font-weight: Bold;
  margin-bottom: 0%;
}

.we-timeline-container {
  width: 50%;
  height: 70vh;
  margin: 0%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 1s ease-out;
}

.we-timeline-container.animate {
  opacity: 1;
  transform: translateY(0);
}


.we-timeline-description {
  width: 50%;
  height: 70vh;
  margin: 0%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.we-description-image {
  width: 60%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 20px;
}

.we-description-technologies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
}

.we-description-technology{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.we-technology-icon{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
  margin-bottom: 5px;
}

.company-description-p{
  font-size: 1.1rem;
  font-weight: lighter;
  color: white;
  text-align: center;
  margin-top: 10px;
}